/* #region-------------all------------------ */
*{
    font-family:sans-serif ;
}
body{
    position: relative;
}
/* 包兩層-漢堡和logo就不會跑版 */
.main-header {
    position: fixed;  
    width: 100%; 
    z-index: 1;
}
.main-header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#FFFFFF ;
    padding: 10px 20px;
}
.main-nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #5D6678;
    font-size: 16px;
    font-weight: lighter;
}
.main-nav a:hover{
    border-bottom:1px solid #5D6678;
}
.main-nav li:first-child a{
    border-bottom:1px solid #5D6678;
}
#menu-control {
    /* 讓checkbox隱藏起來 */
    display: none;
}
div h2{
    font-size: 28px;
    font-weight: lighter;
    margin:30px 0px;
    color: #000;
}
div p{
    color:#5D6678 ;
    font-size: 14px;
    line-height: 25px;
}
.green-btn{
    height: 40px;
    background-color: #1FDE82;
    border-style: none;
    box-shadow:0px 0px 10px 10px  #cef8e4;
    border-radius: 5px;
}
.green-btn:hover{
    background-color: #5D6678;
    box-shadow: none;
    transition: .5s;
}
.green-btn a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    margin: 0px 15px;
}
.btn{
    height: 40px;
    background-color: transparent;
    border-style: none;
    border: 1px solid #DCDFE5;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    
}
.btn:hover{
    background-color: #41e093;
    transition: .3s;
    border: none;
    color: #FFFFFF;
}

.green-btn+.btn{
    margin-left: 25%;
}
.success-container{
    padding: 90px 0px 30px 0px;
    margin: 0px 0px 0pt 20px;
}
/* #endregion---------all----------------- */

/* #region------------success---------------- */

.success-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 20px 50px 0px;
}
.success-row .success-button img{
    width: 300px;
}
.success-row .success-pic img{
    width: 75%;
}
/* #endregion-------------------success----------------- */

/* #region------------challenge------------- */
.challenge-row img{
    width: 75%;
    margin: 20px;
}
.challenge-button{
    margin: 30px 0px;
}
/* #endregion-------------------challenge--------------- */

/* #region-------------service--------------- */

.service-row div{
    box-shadow: 0px 0px 20px 10px #f3f8f8;
    margin: 20px 20px;
    padding: 0px 20px 20px;
}
.service h2{
    margin: 0px 0px 0px 20px;
}
.service-row img{
    border-radius: 50px;
    box-shadow: 0px 0px 5px 10px #cef8e4;
    width: 70px;
    margin: 20px 0px;
}
.service-row h3{
    font-size: 30px;
    margin: 15px 0px;
}
.service-row p{
    margin:20px 0px;
}
.service-row a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: bold;
}
.service-row a:hover{
    color: #1FDE82;
}
/* #endregion-------------service--------------- */

/* #region-------------contact--------------- */
.contact{
    margin: 0px 0px 0px 20px;
}
.contact-button{
    margin: 40px 0px;
}


/* #endregion-------------contact--------------- */

/* #region----------why-choose-us------------- */
.why-choose-us{
    background-color: #2570FF;
    padding: 50px 0px;
}
.-container .data div div{
    background-color: #3F81FF;
    border-radius: 8px;
    text-align: center;
    padding: 30px 0px;
    margin:10px;
    font-size: 35px;
    font-weight: bold;
}
.data div p,span{
    color: #FFFFFF;
}
.why-choose-us-content-row h2,.why-choose-us-content-row p{
    color:#ffff;
}
.why-choose-us-button button{
    margin: 30px 0px 0px;
    color: #ffff;
}
.why-choose-us-button{
    margin: 0px 0px 0px 20px;
}

/* #endregion----------why-choose-us--------------- */

/* #region--------------step------------------- */
.step-content-container{
    margin: 20px;
}
.step-content-container div:first-child img{
    width: 80px;
    box-shadow: 0px 0px 10px 10px #d3f5e7;
    border-radius: 50px;
}
.step-content-container div h3{
    margin: 20px 0px 10px;
    font-size: 20px;
}
.step-content-container div img:last-child{
    margin: 40px 20px;
}
/* #endregion-----------step--------------------- */

/* #region--------------project---------------- */
.project-content{
    margin: 20px;
}
.project-content button{
    margin: 10px 0px 35px;
}
.project-pic-row img{
    width: 100%;
    /* margin: 20px 0px; */
    box-shadow: 0px 0px 10px 10px #F1F4F8;
    border-radius: 15px;
}
.project-pic-item{
    position: relative;
}
.project-text{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #23DF84;
    color: #fff;
    opacity: 0;
    transition: .8s;
    border-radius: 15px;
}
.project-text p{
    font-size: 35px;
    color: #fff;
    margin: 40px 20px;
    line-height: 50px;
}
.project-text a{
    text-decoration: none;
    margin: 20px;
    color: #FFFFFF;
    font-size: 20px;
}
.project-text a:hover{
    color: #5D6678;
}
.project-text:hover{
    opacity: 1;
}
/* #endregion-------------------project----------------- */

/* #region--------------input------------------- */
.input-data-content-row img{
    margin: 20px;
    width: 75%;
}

.input-data-content-row > div,.input-data-subscribe{
    margin: 20px;
    box-shadow: 0px 0px 10px 15px #f6f8f9 ;
    padding: 20px;
}
.input-data-content-row div input,.input-data-subscribe input{
    width: 100%;
    height: 40px;
    border: 1px solid #DCDFE5;
    
}
.input-data-content-row div input{
    margin: 0px 0px 10px;
}
.input-data-content-row div textarea{
    width: 100%;
    border: 1px solid #DCDFE5;
    resize: vertical;
    margin: 0px 0px 20px;
}
.input-data-subscribe-btn{
    display: flex;
}
.input-data-sign-up{
    display: flex;
    flex-direction: column;
}
.input-data-sign-up button{
    width: 80px;
}
::placeholder {
    color: #DCDFE5;
}
/* #endregion--------------input-------------------- */

/* #region--------------footer------------------- */
.maikon-source-container{
    margin: 0px 20px;
}
.maikon-source-content-row li:first-child{
    display: flex;
    flex-direction: column;
}
.maikon-source-content-row li:first-child img{
    width: 158px;
    margin: 50px 0px 20px;
}
.maikon-source-content-row li a{
    text-decoration: none;
    color:#5D6678;
    font-size: 14px;
}
.maikon-source-content-row h4+ul a:hover{
    color: #1FDE82;
}
.maikon-source-content-row h4{
    font-size: 30px;
    margin: 30px 0px 0px;
}

.maikon-source-content-row li{
    margin: 10px 0px;
}
.maikon-source-content-row li i{
    color: #D2D6DE;
    border: 1px solid #D2D6DE;
    border-radius: 50%;
    padding: 10px;
    margin: 30px 2px;
}
.maikon-source-content-row li i:hover{
    background-color: #1FDE82;
    color: #FFFFFF;
    transition: .5s;
}
.maikon-copyright{
    text-align: center;
}
.maikon-copyright span a{
    text-decoration: none; 
    color: #1FDE82;
}
.maikon-copyright span a:hover{
    color: #5D6678;
    transition: .5s;
}
.maikon-privacy{
    text-align: center;
    padding: 0px 0px 20px;
}
.maikon-privacy a{
text-decoration: none;
color: #5D6678;
font-size: 12px;
margin: 20px;
}
.maikon-privacy a:hover{
    color: #1FDE82;
    transition: .5s;
}
/* #endregion-----------------------footer-------------------- */

/*#region ---------------phone--------------------------------------- */
@media screen and (width<1024px){
    .hb {
        width: 40px;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        cursor: pointer;
        background-color: #1FDE82;
    }
    
    .hb span {
        width: 60%;
        height: 4px;
        border-radius: 15px;
        background-color: #FFFFFF;
    }
    .main-nav {
        position: absolute;
        width: 75%;
        opacity: 0;
        transition: .5s;
        background-color: #FFFFFF;
        top: 0;
        right: -100%;
        box-shadow: 0px 0px 15px 0px #c2c6ce;
        height: 100vh;
    }
    .main-nav i{
        display: flex;
        justify-content: flex-end;
        margin: 10px;
        font-size: 24px;
        cursor: pointer;
    }
    #menu-control:checked~.main-header .main-nav {
        right:0;
        opacity: 1; 
    }
    .main-header-content .btn{
        display: none;
    }
    .contact-container .contact-pic{
        display: flex;
        justify-content: flex-end;
        margin: 20px;
    }
    .input-data-content-row div input,.input-data-subscribe input{
        margin: 0px 0px 20px;
    }
    .project-pic-row img{
        margin: 20px 0px;
    }
    .project-text {
        margin: 15px;
    }
    .project-pic img{
        height: 300px;
        object-fit: cover;
    }

}
/* #endregion-------------phone-------------------------- */

/*#region -----------------pc--------------------------------------- */
@media screen and (width>=1024px) {
    .logo{
        flex-grow: 1;
    }
    .main-nav{
        margin: 0px 60px;
    }
    .main-nav ul{
        display: flex;
    }
    .main-nav label{
        display: none;
    }
    .main-nav a{
        margin: 5px;
    }
    .success-row h2{
        font-size: 60px;
    }
    .success-container{
        padding: 200px 0px 100px;
    }
    section div h2{
        font-size: 45px;
    }
    .service-row div{
        width: 300px;
        margin: 20px ;
    }
    .service-row{
        justify-content: center;
    }
    .data div div{
        width: 200px;
    }
    .why-choose-us-data-row{
        justify-content: center;
    }
    .contact-container .contact-pic {
      text-align: center;
    }
    .step-content-container div div{
        width: 450px;
    }
    [class*='step-content']{
        justify-content: center;
    }
    .step-content-container div:nth-child(even){
        flex-direction: row-reverse;
    }
    .step-content-container> div>div{
        margin: 70px;
    }
    .project-content{
        position: relative;
    }
    .project-content button{
        position: absolute;
        right: 60px;
        top: -5px;
    }
    .project-content{
        width: 960px;
        margin: auto;
    }
    .project-pic-row {
        justify-content: center;
    }
    .project-content h2{
        margin: 50px 60px;
    }
    .project{
        background-color: #F9FBFF;
        padding: 40px 0px;
    }
    .project-text{
        margin: 0px 15px;
    }
    .input-data-content-row img{
        width: 40% ;
    }
    .input-data-subscribe{
        box-shadow: none;
        text-align: center;
        width: 500px;
        margin: auto;
    }
    .input-data-subscribe-btn{
        box-shadow: 0px 0px 15px 10px#F7F9FB;
    }
    ul{
        justify-content: center;
    }
    .maikon-source-content-row input{
        margin: 0px 0px;
    }
    .copyPrivacy{
        display: flex;
        justify-content: space-between;
        margin: 20px 30px;
    }
}
/*#endregion ---------------pc--------------------------------------- */










